<app-feature></app-feature>
<div class="numbers">
    <div class="overlay">
        <div class="container">
            <div style="padding: 70px; color: white;" class="row">
                <div *ngFor="let icon of icons" class="col-md-3">
                    <img style="width: 50%;" src="assets/{{icon.images}}">
                    <h2 style="font-size: 50px !important; padding-top: 20px;">{{icon.title}}</h2>
                    <h3>{{icon.desc}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="padding: 45px;">
        <h1>Meet our Dedicate Team</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting Factory has been the Factory's standard
            dummy text ever since the been when an unknown printer.</p>
    </div>
    <div style="    padding-bottom: 60px;
    " class="row">
        <div *ngFor="let pic of pics" class="col-md-4">
            <img style="width: 100%;" src="/assets/{{pic.images}}">
            <div style="border: 1px solid lightgrey; height: 180px; width: 356px; padding: 25px;" class="box">
                <h3>Jimmy Morris</h3>
                <p>Senor Vice President</p>
                <p>Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius
                    [...]</p>
            </div>
        </div>
    </div>
</div>
<div style="height: 100%;" class="numbers">
    <div class="overlay">
        <div style="color: white;" class="container">
            <div style="padding: 80px;
            text-align: center;">
                <h1>Testimonials</h1>
                <hr>
                <h3>Lorem Ipsum is simply dummy text of the printing and typesetting Factory has been the Factory's
                    standard
                    dummy text ever since the been when an unknown printer.
                </h3>
            </div>
            <div style="display: flex;">
                <div class="box1"><span style="font-size:30px">"</span>Lorem Ipsum is simply dummy text of the printing
                    and typesetting Factory. Lorem Ipsum
                    has been the Factory's standard dummy text ever since the when an printer took a galley of type and
                    scrambled it to make [...]<span style="font-size:30px">"</span></div>
                <div class="box1"><span style="font-size:30px">"</span>Lorem Ipsum is simply dummy text of the printing
                    and typesetting Factory. Lorem Ipsum
                    has been the Factory's standard dummy text ever since the when an printer took a galley of type and
                    scrambled it to make [...]<span style="font-size:30px">"</span></div>
            </div>
        </div>
    </div>
</div>