
.opacity img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: 6s ease-in-out;
}
:hover.opacity img {
	-webkit-transform: scale(1.3);
	transform: scale(3);
}
