<div class="background">
    <div class="wrapper">
        <div class="text-center mt-4 name"> Sign up </div><br>
        <p style="text-align: center;">Enter your e-mail address and your password.
        </p>
        <form class="p-3 mt-3">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input
                            type="text" name="name" id="full Name" placeholder="Full Name"> </div>
                </div>
                <div class="col-md-6">
                    <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input
                            type="text" name="text" id="pwd" placeholder="Last Name"> </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input
                            type="email" name="mail" id="userName" placeholder="Email"> </div>

                </div>
                <div class="col-md-6">

                    <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input
                            type="password" name="mail" id="userName" placeholder="Password"> </div>
                </div>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text"
                    name="mail" id="userName" placeholder="Address"> </div>

            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="number"
                    name="mail" id="userName" placeholder="Phone Number"> </div>

            <button class="btn mt-3">Sign Up</button>
        </form>
        <div class="text-center fs-6"> <a routerLink="#">Forget password?</a> or <a routerLink="#">Sign up</a> </div>
    </div>
</div>