.box{
    width: 43%;
    margin-left: 43px;
    position: relative;
    bottom: 40px;
    background-color: white;
    box-shadow: 0 0 30px 0px rgb(0 0 0 / 5%), -8px 8px 0px 0px #ff6;
    padding: 55px;
}
button{
    background-color: #fdc716;
    color: white;
    border: none;
    height: 35px;
}
.opacity img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: 5s ease-in-out;
}
:hover.opacity img {
	-webkit-transform: scale(1.3);
	transform: scale(2);
}