<div class="image"></div>
<div class="container">
    <div style="padding-top: 60px;" class="row">
        <div *ngFor="let row of rows" style="padding-bottom: 30px;" class="col-5 opacity">
            <div style="overflow: hidden;" class="figure">
                <img *ngIf="row.image" style="width: 100%;" src="assets/{{row.image}}" alt="">
            </div>
            <h2 *ngIf="row.title">{{row.title}}</h2>
            <h3 *ngIf="row.heading">{{row.heading}}</h3>
            <p *ngIf="row.body">{{row.body}}</p>
            <a *ngIf="row.title" href="blog">READ MORE>></a><br>
            <button *ngIf="row.title">CHILD</button>
            <button *ngIf="row.title">EDUCTION</button>
            <button *ngIf="row.title">MONEY</button>
            <button *ngIf="row.title">RESTAURENT</button>
        </div>
    </div>
</div>